@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Fonts

$font-inter: "Inter";
$font-chakra: "Chakra Petch";

//Color

$primary-color: #1CA7C8;
$secondary-color: #284260;
$tertiary-color: #6E859F;
$quaternary-color: #FFFFFF;

$dark-theme: #01080e;
$dark-primary-color: #98D4DE;
$dark-secondary-color: #D7F9FF;

// Font Size

$small-size: 16px;
$medium-small-size: 20px;
$medium-size: 24px;
$large-small-size: 48px;
$large-size: 60px;

// Font Weight

$small-weight: 400;
$large-weight: 700;
